<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

<appender name="fileAppender" class="org.apache.log4j.FileAppender">
<param name="File" value="logfile.log"></param>
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d %-5p [%c{1}] %m %n"></param>
</layout>
</appender>
<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender"> 
<layout class="org.apache.log4j.PatternLayout"> 
<param name="ConversionPattern" value="%d [%t] %-5p (%F:%L) - %m%n"></param>
</layout> 
</appender> 

<root> 
<level value="info"></level> 
<appender-ref ref="consoleAppender"></appender-ref>
<appender-ref ref="fileAppender"></appender-ref> 
</root> 

</log4j:configuration>