<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c26598">  <td>18/11/16 18:32:21</td>   <td>0</td> <td title="&gt;&gt;WebActions.beforeSuite()[pri:0, instance:PageObject.Humingo_Demo.TestHUM01VerifyLogin@69a3d1d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/11/16 18:32:22</td>   <td>121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHUM01VerifyLogin.testVerifyLogin()[pri:0, instance:PageObject.Humingo_Demo.TestHUM01VerifyLogin@69a3d1d]">testVerifyLogin</td> 
  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>18/11/16 18:32:26</td>   <td>4127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WebActions.getResult(org.testng.ITestResult)[pri:0, instance:PageObject.Humingo_Demo.TestHUM01VerifyLogin@69a3d1d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>18/11/16 18:32:26</td>   <td>4916</td> <td title="&lt;&lt;WebActions.afterSuite()[pri:0, instance:PageObject.Humingo_Demo.TestHUM01VerifyLogin@69a3d1d]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
</table>
